{% extends 'base.html'%}
{%block content%}
                <!--Breadcrumb Banner Area Start-->
                <div class="breadcrumb-banner-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="breadcrumb-text">
                                    <h1 class="text-center">ABOUT US</h1>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of Breadcrumb Banner Area-->
                <!--About Area Start--> 
                <div class="about-area mt-95">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="about-container">
                                    <h3>{{about.heading}}</h3>
                                    <p>{{about.content}}</p>
                                    	      
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <!--About Image Area Start-->
                                <div class="about-image-area img-full">
                                    <img src="../media/{{about.img1}}" alt="">
                                </div>
                                <!--About Image Area End-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--End of About Area-->
                 
                <!--Teachers Area Start--> 
                <div class="teachers-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>OUR TEACHERS</h3>
                                        <div><h4>With a team of experienced educators who are passionate about empowering students, we strive to cultivate a dynamic learning environment where curiosity thrives and success is inevitable.</h4></div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="agent mb-30">
                                    
                                    <div class="content">
                                        <h4 class="title">Alkesh Mishra</h4>
                                        <a href="tel:+91 9898319912">+91 9898319912</a>

                                        <span class="properties">Director</span><br>
                                       <br> <p>Expertise: Commercial Communication, Management</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="agent mb-30">
                                   
                                    <div class="content">
                                        <h4 class="title"><a>Nirav Patel</a></h4>
                                        <a href="tel:+91 9825058027">+91 9825058027</a>
                                        
                                        <span class="properties">Director</span><br>
                                        <br> <p>Expertise: Statistics, Management</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="agent mb-30">
                                   
                                    <div class="content">
                                        <h4 class="title"><a>Samir Oza</a></h4>
                                        <a href="tel:+91 94081301417">+91 94081301417</a>
                                        
                                        <span class="properties">Director</span><br>
                                        <br> <p>Expertise: Economics, B.Law, Management</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="agent mb-30">
                                    
                                    <div class="content">
                                        <h4 class="title"><a>Dhanesh Maniar</a></h4>
                                        <a href="tel:+91 9898795899">+91 9898795899</a>
                                        
                                        <span class="properties">Faculty</span><br>
                                        <br> <p>Expertise: Economics, Business Administration</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-12">
                                <div class="agent mb-30">
                                    
                                    <div class="content">
                                        <h4 class="title"><a>Alpesh Thakkar</a></h4>
                                        <a href="tel:+91 8849215244">+91 8849215244</a>
                                        
                                        <span class="properties">Faculty</span><br>
                                        <br> <p>Expertise: Accounts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Teachers Area End--> 
                {%endblock%}
                