{% extends 'header1.html'%}
{% block content %}



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Course</h1>

    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Course</h5>

              <!-- General Form Elements -->
              <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="inputNumber" class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                      <input class="form-control" name="img" type="file" id="formFile">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Short Description</label>
                    <div class="col-sm-10">
                      <input type="text" name="short" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                      <input type="name" name="description" class="form-control">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-10">
                      <button type="submit" name="submit" class="btn btn-primary">Submit Form</button>
                    </div>
                  </div>
              </form><!-- End General Form Elements -->

            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Table with hoverable rows</h5>

              <!-- Table with hoverable rows -->
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Short Description</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                  </tr>
                </thead>
                <tbody>
                  {% for variable in course1 %}
                  <tr >
                  <th scope="row">1</th>
                  <td><img src="../../media/{{variable.img}}" width="50%"></td>
                  <td>{{variable.name}}</td>
                  <td>{{variable.short_description}}</td>
                  <td>{{variable.description}}</td>
                  <!-- <td>2016-05-25</td> -->
                  <td><a href="/sparkwebadmin/deleterow8/{{variable.id}}/" class="btn btn-danger m-2">Delete</a></td>
                  <td><a href="/sparkwebadmin/course1up/{{variable.id}}/" class="btn btn-danger m-2">Update</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <!-- End Table with hoverable rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

 

  {% endblock %}