{% extends 'header1.html'%}
{% block content %}



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Contact Us</h1>

    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-10">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contact </h5>

              <!-- General Form Elements -->
              <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                  <label for="inputText"  class="col-sm-2 col-form-label">Name</label>
                  <div class="col-sm-10">
                    <input type="name" name="name" class="form-control" value="{{contact3.name}}">
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText"  class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="name" name="email" class="form-control" value="{{contact3.email}}">
                    </div>
                  </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">Number</label>
                  <div class="col-sm-10">
                    <input type="text" name="number" type="file" id="form-control" value="{{contact3.number}}">
                  </div>
                </div>
                <div class="row mb-3">
                    <label for="cars" class="col-sm-2 col-form-label">Choose Category: </label>
                    <div class="col-sm-10">
                      <select id="category" name="category" class="form-control"value="{{contact3.category}}">
                        <option value="">Category</option>
                        <option value="printing">Printing</option>
                        <option value="gifting">Gifitng</option>
                      </select>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="inputText" class="col-sm-2 col-form-label">Message</label>
                    <div class="col-sm-10">
                      <input type="name" name="message" class="form-control" value="{{contact3.message}}">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col-sm-10">
                      <button type="submit" name="submit" class="btn btn-primary">Submit Form</button>
                    </div>
                  </div>
              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

 

  {% endblock %}